* {
    margin: 0;
    font-family: 'work Sans';
    /* padding: 0; */
}

header {
    /* width: 1920px;
    height: 1322px; */
    background-color: #FF900E1A;

}

.head_text {
    color: #131313;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
    flex-direction: row;
}

nav li {
    list-style: none;
    /* margin-left: 50px; */
}

nav ul {
    display: flex;
    /* position: relative; */
    justify-content: center;
    gap: 40px;
    width: 477px;
    height: 26px;
    left: 1203px;
    top: 63px;
}

.nav_bar li {
    font-weight: 500;
    color: #424242;
    font-style: normal;
}

.mid_txt {
    /* align-items: center; */
    color: #131313;
    width: 862px;
    /* height: 225px; */
    padding-left: 450px;
}

.bold_text-1 {
    text-align: center;
    font-weight: 700;
    size: 64px;
}

.bold_text-2 {
    text-align: center;
    font-weight: 700;
    size: 64px;
    margin-bottom: 20px;
}

.regular_txt {
    text-align: center;

    font-weight: 400;
    font-style: normal;
    margin-bottom: 25px;
}

.btn-primary {
    background-color: #fd6e0a;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    font-weight: 600;
    border-radius: 4px;
}

.button {
    margin-left: 820px;
}

.banner_img {
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 45px;
}

.team_pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 301px;
}

.logo {
    padding: 20px;
}

.Middle_part {
    display: flex;
    justify-content: center;
    align-content: space-between;

}

.first_txt {
    color: #272727;
    font-weight: 500;
}

.second_txt {
    font-weight: 900;
}

.third_txt {
    color: #fd6e0a;
}

.feature {
    margin-top: 287px;
    margin-left: 73px;
    width: 538px;
}

.para {
    margin-top: 12px;
    margin-bottom: 12px;
}

.third_part {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 1440px;
    height: 1059px;
    margin-left: 240px;
    margin-top: 130px;
}

.bold_txt {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.grid_txt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.txt_align {
    border-radius: 3px;
    box-shadow: 3px 5px whitesmoke;
    padding: 30px 42px 30px 30px;

}

.bold_four {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    /* Dark 01 */

    color: #131313;
}
.para_one{
    margin-top: 5px;
}
.upper_txt{
    margin-right: 30px;
    margin-left: 10px;
}
.mid_image{
    position: relative;
}
.ten_btn{
    position: absolute;
    top: 80%;
    right: 60%;
    width: 322px;
    height: 200px;
    background-color: #fd6e0a;
    border-radius: 8px;
    color: #FFFFFF;

}
.ten_btn>h1{
font-size: 65px;
padding: 40px;
}
.bottom_text{
    margin-left: 240px;
    margin-top: 30px;
}
.bottom_para{
    margin-top: 20px;
    width: 542px;
}
.box{
    padding: 10px 12px 12px 10px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 220px;
    border-radius: 8px;
    margin: 35px;
    text-align: center;
    
}
.bottom_box{
    display: flex;
    justify-content: center;
}
.box>img,h1,p{
    margin-top: 20px;
}